.news-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
}

.news-background-title h2 {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #000000;
}

.article-date {
    color: #888888;
}

.news-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.power-duval {
    background-color: rgba(0, 153, 255, 0.25);
}

.power-delaine {
    background-color: rgba(127, 255, 0, 0.25);
}

.power-lavignyduval {
    background-color: rgba(127, 0, 255, 0.25);
}

.power-patreus {
    background-color: rgba(0, 255, 255, 0.25);
}

.power-mahon {
    background-color: rgba(0, 255, 0, 0.25);
}

.power-winters {
    background-color: rgba(255, 127, 0, 0.25);
}

.power-yongrui {
    background-color: rgba(191, 255, 0, 0.25);
}

.power-antal {
    background-color: rgba(255, 255, 0, 0.25);
}

.power-hudson {
    background-color: rgba(255, 0, 0, 0.25);
}

.power-torval {
    background-color: rgba(0, 64, 255, 0.25);
}

.power-grom {
    background-color: rgba(255, 64, 0, 0.25);
}

.has-help-title {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}

.content figure {
    margin-left: 0;
    margin-right: 0;
}

.station {
    padding-left: 5px;
}

.station.damaged {
    border-left: 3px solid #ff5500;
    background-color: #ffebe0;
}

.table tbody tr.is-odyssey {
    background-color: #f7efe4;
}

.table.is-striped tbody tr.is-odyssey:nth-child(2n)  {
    background-color: #f2ede6;
}

.table tbody tr.is-horizons {
    background-color: #e3f6ff;
}

.table.is-striped tbody tr.is-horizons:nth-child(2n)  {
    background-color: #dfeff7;
}

.highlight {
	background-color: #FFFF00;
}

body > section.section {
	padding-top: 0;
}
